/* index.css */
[data-theme="light"] {
  --bg: #ffffff;
  --text: #111111;
}

[data-theme="dark"] {
  --bg: #111111;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
